<input type="text" name ="breed" list="breeds">
<datalist id="breeds">
<option value="Affenpinscher">
<option value="Afghan Hound">
<option value="Airedale Terrier">
<option value="Akita">
<option value="Alaskan Malamute">
<option value="American Cocker Spaniel">
<option value="American Eskimo Dog (Miniature)">
<option value="American Eskimo Dog (Standard)">
<option value="American Eskimo Dog (Toy)">
<option value="American Foxhound">
<option value="American Staffordshire Terrier">
<option value="American Water Spaniel">
<option value="Anatolian Shepherd">
<option value="Australian Cattle Dog">
<option value="Australian Shepherd">
<option value="Australian Terrier">
<option value="Basenji">
<option value="Basset Hound">
<option value="Beagle">
<option value="Bearded Collie">
<option value="Beauceron">
<option value="Bedlington Terrier">
<option value="Belgian Malinois">
<option value="Belgian Sheepdog">
<option value="Belgian Tervuren">
<option value="Bernese Mountain Dog">
<option value="Bichon Frise">
<option value="Black and Tan Coonhound">
<option value="Black Russian Terrier">
<option value="Bloodhound">
<option value="Border Collie">
<option value="Border Terrier">
<option value="Borzoi">
<option value="Boston Terrier">
<option value="Bouvier des Flandres">
<option value="Boxer">
<option value="Briard">
<option value="Brittany">
<option value="Brussels Griffon">
<option value="Bull Terrier">
<option value="Bulldog">
<option value="Bullmastiff">
<option value="Cairn Terrier">
<option value="Canaan Dog">
<option value="Cardigan Welsh Corgi">
<option value="Cavalier King Charles Spaniel">
<option value="Chesapeake Bay Retriever">
<option value="Chihuahua">
<option value="Chinese Crested Dog">
<option value="Chinese Shar-Pei">
<option value="Chow Chow">
<option value="Clumber Spaniel">
<option value="Collie">
<option value="Curly-Coated Retriever">
<option value="Dachshund (Miniature)">
<option value="Dachshund (Standard)">
<option value="Dalmatian">
<option value="Dandie Dinmont Terrier">
<option value="Doberman Pinscher">
<option value="English Cocker Spaniel">
<option value="English Foxhound">
<option value="English Setter">
<option value="English Springer Spaniel">
<option value="English Toy Spaniel">
<option value="Field Spaniel">
<option value="Finnish Spitz">
<option value="Flat-Coated Retriever">
<option value="French Bulldog">
<option value="German Pinscher">
<option value="German Shepherd Dog">
<option value="German Shorthaired Pointer">
<option value="German Wirehaired Pointer">
<option value="Giant Schnauzer">
<option value="Glen of Imaal Terrier">
<option value="Golden Retriever">
<option value="Gordon Setter">
<option value="Great Dane">
<option value="Great Pyrenees">
<option value="Greater Swiss Mountain Dog">
<option value="Greyhound">
<option value="Harrier">
<option value="Havanese">
<option value="Ibizan Hound">
<option value="Irish Setter">
<option value="Irish Terrier">
<option value="Irish Water Spaniel">
<option value="Irish Wolfhound">
<option value="Italian Greyhound">
<option value="Japanese Chin">
<option value="Keeshond">
<option value="Kerry Blue Terrier">
<option value="Komondor">
<option value="Kuvasz">
<option value="Labrador Retriever">
<option value="Lakeland Terrier">
<option value="Lhasa Apso">
<option value="Lowchen">
<option value="Maltese">
<option value="Manchester Terrier (Standard)">
<option value="Manchester Terrier (Toy)">
<option value="Mastiff">
<option value="Miniature Bull Terrier">
<option value="Miniature Pinscher">
<option value="Miniature Schnauzer">
<option value="Mix">
<option value="Neapolitan Mastiff">
<option value="Newfoundland">
<option value="Norfolk Terrier">
<option value="Norwegian Elkhound">
<option value="Norwich Terrier">
<option value="Nova Scotia Duck Tolling Retriever">
<option value="Old English Sheepdog">
<option value="Otterhound">
<option value="Papillon">
<option value="Parson Russell Terrier">
<option value="Pekingese">
<option value="Pembroke Welsh Corgi">
<option value="Petit Basset Griffon Vendeen">
<option value="Pharaoh Hound">
<option value="Plott">
<option value="Pointer">
<option value="Polish Lowland Sheepdog">
<option value="Pomeranian">
<option value="Poodle (Miniature)">
<option value="Poodle (Standard)">
<option value="Poodle (Toy)">
<option value="Portuguese Water Dog">
<option value="Pug">
<option value="Puli">
<option value="Redbone Coonhound">
<option value="Rhodesian Ridgeback">
<option value="Rottweiler">
<option value="Saint Bernard">
<option value="Saluki (or Gazelle Hound)">
<option value="Samoyed">
<option value="Schipperke">
<option value="Scottish Deerhound">
<option value="Scottish Terrier">
<option value="Sealyham Terrier">
<option value="Shetland Sheepdog">
<option value="Shiba Inu">
<option value="Shih Tzu">
<option value="Siberian Husky">
<option value="Silky Terrier">
<option value="Skye Terrier">
<option value="Smooth Fox Terrier">
<option value="Soft Coated Wheaten Terrier">
<option value="Spinone Italiano">
<option value="Staffordshire Bull Terrier">
<option value="Standard Schnauzer">
<option value="Sussex Spaniel">
<option value="Tibetan Mastiff">
<option value="Tibetan Spaniel">
<option value="Tibetan Terrier">
<option value="Toy Fox Terrier">
<option value="Unknown">
<option value="Vizsla">
<option value="Weimaraner">
<option value="Welsh Springer Spaniel">
<option value="Welsh Terrier">
<option value="West Highland White Terrier">
<option value="Whippet">
<option value="Wire Fox Terrier">
<option value="Wirehaired Pointing Griffon">
<option value="Yorkshire Terrier">
</datalist>

